In [1]:
import pandas as pd
import numpy as np

In [2]:
# 데이터 불러오기

auto = pd.read_fwf("auto.dat", header = None, widths = [19,4,6,3,2,2,4,5,3,5,4,3,4,4], 
                   na_values='.')
auto.columns = ['model','origin', 'price', 'mpg', 'rep78', 'rep77', 'hroom', 'rseat', 
                'trunk', 'weight', 'length', 'turn', 'displa', 'gratio']

In [3]:
# 필요 변수만 별도로 데이터 생성

var_list = ["price", "mpg", "hroom", "rseat", "weight", "length", "gratio"]
x = auto[var_list]
x

    price  mpg  hroom  rseat  weight  length  gratio
0    4099   22    2.5   27.5    2930     186    3.58
1    4749   17    3.0   25.5    3350     173    2.53
2    3799   22    3.0   18.5    2640     168    3.08
3    9690   17    3.0   27.0    2830     189    3.20
4    6295   23    2.5   28.0    2070     174    3.70
..    ...  ...    ...    ...     ...     ...     ...
69   4697   25    3.0   25.5    1930     155    3.78
70   5397   41    3.0   25.5    2040     155    3.78
71   6850   25    2.0   23.5    1990     156    3.78
72   7140   23    2.5   37.5    2160     172    3.74
73  11995   17    2.5   29.5    3170     193    2.98

[74 rows x 7 columns]

In [4]:
# Sample mean vector

def mean(data):
    ones = pd.DataFrame({'ones': np.ones((len(data)))}) # one vector 생성
    mean_data = ones.transpose().dot(data).transpose() / len(data)
    return mean_data

mean(x)

               ones
price   6192.283784
mpg       21.297297
hroom      2.986486
rseat     26.817568
weight  3010.810811
length   188.067568
gratio     3.018108

In [6]:
# Sample variance-covariance

def cov(data):
    n = len(data)
    I = np.identity(len(data))
    ones = np.ones(n)
    J = ones.reshape((n,1)).dot(ones.reshape((1,n)))
    m = (I- (1/(n))*J) @ data
    cov = (m.transpose().dot(m)) / (n-1)
    return cov

cov(x)

,price,mpg,hroom,rseat,weight,length,gratio
price,8.632196e+06,-8086.619770,315.401148,3950.367549,1.270005e+06,28977.720289,-434.503565
mpg,-8.086620e+03,33.472047,-1.989078,-8.945020,-3.732025e+03,-103.239541,1.609200
hroom,3.154011e+02,-1.989078,0.705294,1.353665,3.280933e+02,9.672158,-0.140437
rseat,3.950368e+03,-8.945020,1.353665,9.777906,1.438712e+03,43.944002,-0.564117
weight,1.270005e+06,-3732.025176,328.093299,1438.711588,6.144925e+05,16777.615698,-268.835431
length,2.897772e+04,-103.239541,9.672158,43.944002,1.677762e+04,502.091262,-7.057953
gratio,-4.345036e+02,1.609200,-0.140437,-0.564117,-2.688354e+02,-7.057953,0.205394

In [7]:
# Sample correlation

def corr(data):
    cov_matrix = cov(data)
    var_list = np.diag(cov_matrix).reshape((-1,1))
    var_matrix = np.sqrt(var_list @ var_list.T)
    corr = cov_matrix / var_matrix
    return corr

corr(x)

           price       mpg     hroom     rseat    weight    length    gratio
price   1.000000 -0.475735  0.127825  0.429986  0.551425  0.440162 -0.326317
mpg    -0.475735  1.000000 -0.409379 -0.494444 -0.822896 -0.796368  0.613727
hroom   0.127825 -0.409379  1.000000  0.515470  0.498372  0.513981 -0.368980
rseat   0.429986 -0.494444  0.515470  1.000000  0.586938  0.627170 -0.398064
weight  0.551425 -0.822896  0.498372  0.586938  1.000000  0.955170 -0.756719
length  0.440162 -0.796368  0.513981  0.627170  0.955170  1.000000 -0.695015
gratio -0.326317  0.613727 -0.368980 -0.398064 -0.756719 -0.695015  1.000000

## 2. 
Write a Python code to test the significance of correlation between two input
variables. Using Applicant data, test the significance of correlations between the
variable pairs (LC,SC), (SC,SMS), and (LC,SMS), respectively. (P-value
계산목적으로 Python패키지 혹은 내장함수 사용 가능)

In [8]:
# 데이터 불러오기

applicant = pd.read_csv('applican.dat', header = None, delim_whitespace=True)
applicant.columns = ['ID','FL','APP','AA','LA','SC','LC','HON','SMS','EXP',
                     'DRV','AMB','GSP','POT','KJ','SUIT']
applicant.head(5)

   ID  FL  APP  AA  LA  SC  LC  HON  SMS  EXP  DRV  AMB  GSP  POT  KJ  SUIT
0   1   6    7   2   5   8   7    8    8    3    8    9    7    5   7    10
1   2   9   10   5   8  10   9    9   10    5    9    9    8    8   8    10
2   3   7    8   3   6   9   8    9    7    4    9    9    8    6   8    10
3   4   5    6   8   5   6   5    9    2    8    4    5    8    7   6     5
4   5   6    8   8   8   4   4    9    5    8    5    5    8    8   7     7

In [9]:
# LC, SC, SMS 변수만 별도로 데이터 프레임 생성
applicant_2 = applicant[['LC', 'SC', 'SMS']] 

# 문제 1에서 만든 correlation 함수 사용하여 correlation matrix 생성
corr_app = corr(applicant_2)
corr_app

           LC        SC       SMS
LC   1.000000  0.807545  0.818021
SC   0.807545  1.000000  0.799631
SMS  0.818021  0.799631  1.000000

In [10]:
# correlation between each pair

print("Correlation between LC and SC : {}".format(corr_app.iloc[(0,1)]))
print("Correlation between SC and SMS : {}".format(corr_app.iloc[(2,1)]))
print("Correlation between LC and SMS : {}".format(corr_app.iloc[(0,2)]))

Correlation between LC and SC : 0.8075450165500462
Correlation between SC and SMS : 0.7996305375487616
Correlation between LC and SMS : 0.8180207963491792

In [11]:
# Hypothesis Testing

n = len(applicant)

# Correlations for each pair
corr_1 = corr_app.iloc[(0,1)] # LC and SC
corr_2 = corr_app.iloc[(2,1)] # SC and SMS
corr_3 =corr_app.iloc[(0,2)] # LC and SMS

# 각 correlation에 대한 Test statistics 생성
t_stat_1 = (corr_1*np.sqrt(n-2)) / (np.sqrt(1-corr_1**2))
t_stat_2 = (corr_2*np.sqrt(n-2)) / (np.sqrt(1-corr_2**2))
t_stat_3 = (corr_3*np.sqrt(n-2)) / (np.sqrt(1-corr_3**2))

print("1. Test statistic for corr_1 : {}".format(t_stat_1))
print("2. Test statistic for corr_2 : {}".format(t_stat_2))
print("3. Test statistic for corr_3 : {}".format(t_stat_3))

1. Test statistic for corr_1 : 9.286167554204498
2. Test statistic for corr_2 : 9.031519908359892
3. Test statistic for corr_3 : 9.64568238112924

In [12]:
# 각 test statistic에 대한 p-value 구하기 

import scipy.stats as stats

print(("1. P-value {}".format((1- stats.t.cdf(t_stat_1, df = n-2))*2)))
print(("2. P-value {}".format((1- stats.t.cdf(t_stat_2, df = n-2))*2)))
print(("3. P-value {}".format((1- stats.t.cdf(t_stat_3, df = n-2))*2)))

1. P-value 4.064082403942848e-12
2. P-value 9.368728015601846e-12
3. P-value 1.2658762926776035e-12

# 3.
Write a Python code to get the confidence interval for correlation between two
input variables. Using Applicant data, find the confidence interval for correlations
between the variable pairs (LC,SC), (SC,SMS), and (LC,SMS), respectively. Use
both the Fisher’s method and the Ruben’s method, then compare.

In [13]:
# Fisher's Method

def ci_fisher(rho, alpha, n):
    alpha = alpha
    u = stats.norm.ppf(1-alpha/2, loc=0, scale=1)
    upper = np.tanh(np.arctanh(rho) + u / np.sqrt(n-3))
    lower = np.tanh(np.arctanh(rho) - u /np.sqrt(n-3))
    return lower, upper

n = len(applicant)
print("Confidence Interval for corr between LC and SC : {}".format(ci_fisher(corr_1, 0.05,n)))
print("Confidence Interval for corr between SC and SMS : {}".format(ci_fisher(corr_2, 0.05,n)))
print("Confidence Interval for corr between LC and SMS : {}".format(ci_fisher(corr_3, 0.05,n)))

Confidence Interval for corr between LC and SC : (0.6792698433037458, 0.8879404041847789)
Confidence Interval for corr between SC and SMS : (0.6670518824694068, 0.8831183013061132)
Confidence Interval for corr between LC and SMS : (0.6955518990364735, 0.8942959849700911)

In [14]:
# Ruben's Method

def ci_ruben(rho, alpha, n):
    alpha = alpha
    u = stats.norm.ppf(1-alpha/2, loc=0, scale=1)
    r_star = rho / np.sqrt(1-rho**2)
    a = 2*n - 3 - u**2
    b = r_star*np.sqrt((2*n-3)*(2*n-5))
    c = (2*n-5-(u**2))*(r_star**2)-2*(u**2)
    y_1 = (2*b - np.sqrt(4*(b**2)-4*a*c)) / (2*a)
    y_2 = (2*b + np.sqrt(4*(b**2)-4*a*c)) / (2*a)
    lower = y_1 / (np.sqrt(1 + y_1**2))
    upper = y_2 / (np.sqrt(1 + y_2**2))
    return lower, upper

n = len(applicant)
print("Confidence Interval for corr between LC and SC : {}".format(ci_ruben(corr_1, 0.05,n)))
print("Confidence Interval for corr between SC and SMS : {}".format(ci_ruben(corr_2, 0.05,n)))
print("Confidence Interval for corr between LC and SMS : {}".format(ci_ruben(corr_3, 0.05,n)))

Confidence Interval for corr between LC and SC : (0.6743902647489782, 0.8861316879078327)
Confidence Interval for corr between SC and SMS : (0.662114359638192, 0.8812453808974201)
Confidence Interval for corr between LC and SMS : (0.6907619155936947, 0.8925735875766827)

# 4.
Impute missing values in ‘rep78’ variable in ‘auto.dat’ using Python. Use a
regression method using other variables of your choice. Calculate means and
standard deviations of ‘rep78’ variable before and after the imputation. (이
문제에서는 파이썬 패키지 혹은 내장함수를 사용해도 됨.)

In [21]:
# auto 데이터셋의 NA 현황 파악 

auto.isna().sum()

model     0
origin    0
price     0
mpg       0
rep78     5
rep77     8
hroom     0
rseat     0
trunk     0
weight    0
length    0
turn      0
displa    0
gratio    0
dtype: int64

In [20]:
# rep77의 결측치를 나머지 결측치가 없는 변수들로 예측

import warnings
warnings.filterwarnings('ignore')

import statsmodels.api as sm

# 기존 dataframe에서 'rep78'에 NA가 있는 행 삭제
auto_rev = auto.dropna(subset=['rep77'], axis = 0)

# Input과 target 데이터 셋 나누기
# Input에서 rep78, rep77, model, origin만 제외하고 나머지 변수 모두 포함
dfX = auto_rev[auto.columns.difference(['rep78', 'rep77', 'model', 'origin'])]
dfy = auto_rev[['rep77']]

# Linear Regression 피팅
model = sm.OLS(dfy, dfX)
result = model.fit()

# 위 모델로'rep77'의 NA 예측
na_index_list = auto.index[auto['rep77'].isna()].tolist()
X_new = auto.iloc[na_index_list][auto.columns.difference(['rep78', 'rep77', 'model', 'origin']).tolist()]

y_pred = result.predict(X_new)
y_pred

2     3.819903
9     3.752176
31    2.736627
43    2.979751
52    3.306471
55    3.408544
56    4.091579
62    3.089780
dtype: float64

In [16]:
# rep77 NA를 예측값으로 대체

df_pred = pd.DataFrame(y_pred, columns = ['rep77'])
auto_fill = pd.concat([auto_rev[['rep77']], df_pred], axis = 0).sort_index()
auto_new = pd.concat([auto[auto.columns.difference(['rep77'])], auto_fill], axis =1)
auto_new

,displa,gratio,hroom,length,model,mpg,origin,price,rep78,rseat,trunk,turn,weight,rep77
0,121,3.58,2.5,186,AMC CONCORD,22,A,4099,3.0,27.5,11,40,2930,2.000000
1,258,2.53,3.0,173,AMC PACER,17,A,4749,3.0,25.5,11,40,3350,1.000000
2,121,3.08,3.0,168,AMC SPIRIT,22,A,3799,NaN,18.5,12,35,2640,3.819903
3,131,3.20,3.0,189,AUDI 5000,17,E,9690,5.0,27.0,15,37,2830,2.000000
4,97,3.70,2.5,174,AUDI FOX,23,E,6295,3.0,28.0,11,36,2070,3.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,89,3.78,3.0,155,VW RABBIT,25,E,4697,4.0,25.5,15,35,1930,3.000000
70,90,3.78,3.0,155,VW RABBIT DIESEL,41,E,5397,5.0,25.5,15,35,2040,4.000000
71,97,3.78,2.0,156,VW SCIROCCO,25,E,6850,4.0,23.5,16,36,1990,3.000000
72,97,3.74,2.5,172,VW DASHER,23,E,7140,4.0,37.5,12,36,2160,3.000000
73,163,2.98,2.5,193,VOLVO 260,17,E,11995,5.0,29.5,14,37,3170,3.000000

In [17]:
# rep78 결측치 imputation

# 'rep78'에 NA가 있는 행 삭제
auto_rev = auto_new.dropna(subset=['rep78'], axis = 0) 

# Input과 target 데이터 셋 나누기
# Input에 rep78, model, origin만 제외하고 나머지 변수 모두 포함
dfX = auto_rev[auto.columns.difference(['rep78', 'model', 'origin'])] 
dfy = auto_rev[['rep78']]

# Linear Regression 피팅
model = sm.OLS(dfy, dfX)
result = model.fit()
print(result.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  rep78   R-squared (uncentered):                   0.971
Model:                            OLS   Adj. R-squared (uncentered):              0.965
Method:                 Least Squares   F-statistic:                              176.5
Date:                Sun, 12 Mar 2023   Prob (F-statistic):                    2.48e-40
Time:                        22:39:42   Log-Likelihood:                         -63.088
No. Observations:                  69   AIC:                                      148.2
Df Residuals:                      58   BIC:                                      172.8
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
displa        -0.0020      0.003     -0.699      0.488      -0.008       0.004
gratio         0.2553      0.295      0.866      0.390      -0.335       0.846
hroom          0.0329      0.134      0.246      0.807      -0.235       0.300
length         0.0048      0.015      0.323      0.748      -0.025       0.035
mpg            0.0155      0.024      0.647      0.520      -0.032       0.063
price       7.037e-05   4.19e-05      1.680      0.098   -1.35e-05       0.000
rep77          0.6270      0.105      5.985      0.000       0.417       0.837
rseat          0.0241      0.041      0.589      0.558      -0.058       0.106
trunk          0.0228      0.031      0.729      0.469      -0.040       0.085
turn          -0.0232      0.048     -0.483      0.631      -0.119       0.073
weight        -0.0003      0.001     -0.437      0.664      -0.001       0.001
==============================================================================
Omnibus:                        6.538   Durbin-Watson:                   1.579
Prob(Omnibus):                  0.038   Jarque-Bera (JB):                5.744
Skew:                           0.606   Prob(JB):                       0.0566
Kurtosis:                       3.728   Cond. No.                     2.77e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.77e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [18]:
# 위 모델로 'rep78' NA 예측
na_index_list = auto_new.index[auto_new['rep78'].isna()].tolist()
X_new = auto_new.iloc[na_index_list][auto_new.columns.difference(['rep78','model', 'origin']).tolist()]

y_pred = result.predict(X_new)
y_pred

2     3.680673
9     3.550780
52    4.120238
56    4.197182
62    3.024519
dtype: float64

In [19]:
# Imputation 전과 후의 rep78 평균 및 표준편차 계산

df_pred = pd.DataFrame(y_pred, columns = ['rep78'])
auto_fill = pd.concat([auto_rev[['rep78']], df_pred], axis = 0)

print("Before imputation \n mean: {:.5f} / standard deviation : {:.5f}".format(auto['rep78'].mean(), auto['rep78'].std()))
print("After imputation \n mean: {:.5f} / standard deviation : {:.5f}".format(auto_fill['rep78'].mean(), auto_fill['rep78'].std()))

Before imputation
 mean: 3.40580 / standard deviation : 0.98993
After imputation
 mean: 3.42667 / standard deviation : 0.96503